.section3 {
    width: 90%;
    height: max-content;
    padding: 2.5%;
    background: linear-gradient(to bottom right, #3ec8fe 10%, #8609ec);
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -60px);
    z-index: 100;
    margin-bottom:30px;
}

.section3-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section3-slider-content {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: calc(100% - 80px); /* Adjust width to fit buttons */
}

.section3-slider-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for a cleaner look */
}

.section3-navigate-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section3-arrow-back {
    left: 0;
}

.section3-arrow-next {
    right: 0;
}

.card {
    flex: 0 0 auto; /* Prevent shrinking */
}


