/* background: linear-gradient(to bottom right, #737DFE 30%, #FFCAC9); */
/* background:linear-gradient(to bottom right , #43CBFF 50% , #9708CC); */


.project-menu{
    width:200px;
    height:250px;
    position: fixed;
    left:-200px;
    top:20%;
    background:linear-gradient(to right , rgb(63, 63, 63) , rgb(0, 0, 0));
    backdrop-filter:blur(50px);
    z-index:10;
    border-radius:20px;
    transition:1s;
}

.project-menu-show{
    left:16px;
    transition: all 1s;
}


.open-project-menu{
    z-index:10;
    position: fixed;
    top:25%;
    left:0;
    width:50px;
    border: none;
    font-size:25px;
    color:#43CBFF;
    background-color:rgba(0, 0, 0 , 0.9);
    border-top-right-radius:10px;
    transition:1s;
}

.move-project-menu-icon{
    left:213px;
    transition:1s;
}

.project-menu ul li{
   list-style: none;
   font-size:20px;
   font-weight:bold;
   width:120px;
   height:max-content;
   padding:5px;
   background: linear-gradient(to bottom right, #737DFE , #FFCAC9);
   text-align: center;
   cursor: grab;
   transition:all 0.7s;
}

.project-menu ul {
    width:100%;
    height:100%;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   gap:10px;
   padding:3px;
}

.project-menu ul li:hover{
    width:150px;
    letter-spacing:0.1em;
    transition:0.7s;
}

.project-card-parent{
    background:linear-gradient(to bottom right , #43CBFF , #9708CC);
    width:95%;
    /* max-width:1000px; */
    position: relative;
    left:50vw;
    transform: translate(-50.7%,100px);
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    padding:10px;
    margin-bottom:130px;
}

.project-card{
    width:100%;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:40px;
    transition:1s;
}


