/* src/Footer.css */
.footer {
    background-color: #282c34;
    color: white;
    padding: 20px 0;
    text-align: center;
    position:relative;
    left: 0;
    bottom:0;
    width: 100%;
    z-index:10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 20px;
}

.footer .cont {
    max-width: 1200px;
    margin: 0 auto;
}

.footer div {
    margin: 0;
    padding: 5px 0;
}

.footer a {
    color: #61dafb;
    margin: 0 5px;
    text-decoration: none;
    transition:0.7s;
}

.footer a:hover{
    transform: scale(1.2);
    transition:0.7s;
}

.social-media-icons{
     font-size:30px;
}

.social-footer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding:10px;
}

.footer-faq{
    width:80%;
    height: auto;
    padding:10px;
    display: flex;
    justify-content:center;
    align-self: center;
    flex-wrap: wrap;
    gap:30px;
}

.footer-faq div{
    width:150px;
    cursor: pointer;
}

.direct-links p{
    cursor: pointer;
}

.direct-links,
.footer-support{
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}

.direct-links,
.footer-support hr{
    width:10px;
}

.footer-faq span{
    color: #9568ffd7;
}
